<!DOCTYPE html>
<html lang="en">
<head>
<title>主页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
<link href="css/single.css" rel='stylesheet' type='text/css' />
<link href="css/medile.css" rel='stylesheet' type='text/css' />
<!-- banner-slider -->
<link href="css/jquery.slidey.min.css" rel="stylesheet">
<!-- //banner-slider -->
<!-- pop-up -->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- banner-bottom-plugin -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>

	<link href="css/index.css" rel="stylesheet" type="text/css"/>
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
	 
		  autoPlay: 3000, //Set AutoPlay to 3 seconds
	 
		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]
	 
		});
	 
	}); 
</script> 
<!-- //banner-bottom-plugin -->
<!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body>
<div id="wrap">
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="index.html"><h1>Movies</h1></a>
			</div>
			<div class="w3_search">
				<form action="/search.html" method="get">
					<input type="text" name="movieName" placeholder="Search" required="">
					<input type="text" name="curPage" placeholder="Search" required="" value="1" v-show="false">
					<input type="submit"  value="Go">
				</form>
			</div>
			<div class="w3l_sign_in_register">
				<ul>
					<li><a href="#" data-toggle="modal" data-target="#myModal" v-if="!isLog">登录</a></li>
					<li><a href="javascript:;" @click="logout" v-if="isLog">注销</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->
	<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					登录 & 注销
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
								<div class="toggle"><i class="fa fa-times fa-pencil"></i>
									<div class="tooltip">注册</div>
								</div>
								<div class="form">
									<h3>请登录您的账户</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="用户名" required="" v-model="user.username">
										<input type="password" name="Password" placeholder="密码" required="" v-model="user.password">
										<input type="submit" class="ok" onclick="this.disabled=true" @click="login" value="登录">
									</form>
								</div>
								<div class="form">
									<h3>创建新账户</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="用户名" required="" v-model="user.username">
										<input type="password" name="Password" placeholder="密码" required="" v-model="user.password">
										<input class="occupation" type="text" list="listItem3" placeholder="职业" v-model="user.occupation"><br>
										<datalist id="listItem3">
											<option value="0">其它</option>
											<option value="1">学术/教育工作者</option>
											<option value="2">艺术家</option>
										</datalist>
										<input class="gender" type="text" list="listItem4" placeholder="性别" v-model="user.gender"><br>
										<datalist id="listItem4">
											<option value="M">男</option>
											<option value="F">女</option>
										</datalist>
										<input type="text" name="age" placeholder="年龄" required="" v-model="user.age">
										<input type="text" name="zipcode" placeholder="邮编" required="" v-model="user.zipcode">
										<input type="submit" class="ok" onclick="this.disabled=true" @click="register" value="注册">
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->
	<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="w3_home_act"><a href="index.html">主页</a></li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<li>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genres.html?genres=爱情&curPage=1">爱情</a></li>
												<li><a href="genres.html?genres=奇幻&curPage=1">奇幻</a></li>
												<li><a href="genres.html?genres=科幻&curPage=1">科幻</a></li>
												<li><a href="genres.html?genres=儿童&curPage=1">儿童</a></li>
												<li><a href="genres.html?genres=家庭&curPage=1">家庭</a></li>
												<li><a href="genres.html?genres=音乐&curPage=1">音乐</a></li>
												<li><a href="genres.html?genres=冒险&curPage=1">冒险</a></li>
												<li><a href="genres.html?genres=动画&curPage=1">动画</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genres.html?genres=惊悚&curPage=1">惊悚</a></li>
												<li><a href="genres.html?genres=悬念&curPage=1">悬念</a></li>
												<li><a href="genres.html?genres=动作&curPage=1">动作</a></li>
												<li><a href="genres.html?genres=灾难&curPage=1">灾难</a></li>
												<li><a href="genres.html?genres=短片&curPage=1">短片</a></li>
												<li><a href="genres.html?genres=西部&curPage=1">西部</a></li>
												<li><a href="genres.html?genres=恐怖&curPage=1">恐怖</a></li>
												<li><a href="genres.html?genres=历史&curPage=1">历史</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genres.html?genres=犯罪&curPage=1">犯罪</a></li>
												<li><a href="genres.html?genres=悬疑&curPage=1">悬疑</a></li>
												<li><a href="genres.html?genres=剧情&curPage=1">剧情</a></li>
												<li><a href="genres.html?genres=荒诞&curPage=1">荒诞</a></li>
												<li><a href="genres.html?genres=运动&curPage=1">运动</a></li>
												<li><a href="genres.html?genres=传记&curPage=1">传记</a></li>
												<li><a href="genres.html?genres=喜剧&curPage=1">喜剧</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</li>
								</ul>
							</li>
							<li><a href="series.html">推荐</a></li>
							<li><a href="news.html">我的电影</a></li>

						</ul>
						</li>

						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	<!-- //nav -->


	<div class="general_social_icons">
		<nav class="social">
			<ul>
				<li class="w3_twitter"><a href="index.html">主页 <i class="fa fa-asterisk"></i></a></li>
				<li class="w3_facebook"><a href="series.html">推荐 <i class="fa fa-book"></i></a></li>
				<li class="w3_dribbble"><a href="news.html">个人 <i class="fa fa-user"></i></a></li>
				<li class="w3_g_plus"><a href="faq.html">问答 <i class="fa fa-thumbs-up"></i></a></li>
			</ul>
		</nav>
	</div>
	<!-- /w3l-medile-movies-grids -->
<!-- banner -->
	<div id="slidey">
		<ul>
			<li><img src="images/神偷奶爸3.jpg" alt=" "><p class="title">神偷奶爸3</p><p class='description'>洗心革面之后，格鲁作为特工成绩斐然，却因未能打败坏小子巴萨扎·布莱德而被新局长扫地出门。就在此时，他收到一封远方来信，得知自己原来还有一个双胞胎兄弟德鲁...</p></li>
			<li><img src="images/七宗罪.jpg" alt=" "><p class='title'>七宗罪</p><p class='description'>“暴食”、“贪婪”、“懒惰”、“嫉妒”、“骄傲”、“淫欲”、“愤怒”，这是天主教教义所指的人性七宗罪。城市中发生的连坏杀人案，死者恰好都是犯有这些教义的人...</p></li>
			<li><img src="images/你的名字.jpg" alt=" "><p class='title'>你的名字</p><p class='description'>不知从何时起，三叶在梦中就会变成一个住在东京的高中男孩。另一方面，住在东京的高中男孩立花泷则总在梦里来到陌生的小山村，以女孩子的身份过着全新的生活...</p></li>
			<li><img src="images/蓝色地球2.jpg" alt=" "><p class='title'>蓝色地球2</p><p class='description'>与2001年首播的《藍色星球》相隔16年之后，制作团队透过新的科技技术突破以往限制，将许多过去未知的地带、惊人的生物及其令人瞠目结舌的举动呈现在观众眼前...</p></li>
			<li><img src="images/复联4.jpg" alt=" "><p class='title'>复仇者联盟4</p><p class='description'>一声响指，宇宙间半数生命灰飞烟灭。几近绝望的复仇者们在惊奇队长的帮助下找到灭霸归隐之处，却得知六颗无限宝石均被销毁，希望彻底破灭...</p></li>
			<li><img src="images/神偷奶爸3.jpg" alt=" "><p class="title">神偷奶爸3</p><p class='description'>洗心革面之后，格鲁作为特工成绩斐然，却因未能打败坏小子巴萨扎·布莱德而被新局长扫地出门。就在此时，他收到一封远方来信，得知自己原来还有一个双胞胎兄弟德鲁...</p></li>
		</ul>   	
    </div>
    <script src="js/jquery.slidey.js"></script>
    <script src="js/jquery.dotdotdot.min.js"></script>
<!--	   <script type="text/javascript">-->
<!--			$("#slidey").slidey({-->
<!--				interval: 8000,-->
<!--				listCount: 5,-->
<!--				autoplay: false,-->
<!--				showList: true-->
<!--			});-->
<!--			$(".slidey-list-description").dotdotdot();-->
<!--		</script>-->
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/佩尔德利%20Perdrix.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>佩尔德利</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2019</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/世界第一初恋：求婚篇%20世界一初恋～プロポーズ編～.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>世界第一初恋</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2020</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/侵入者%20침입자.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>侵入者</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2020</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/恋爱保质期%20Almost%20Love.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>恋爱保质期</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2019</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/拍拖故事%20Dating%20Amber.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>拍拖故事</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2020</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/塞尔吉奥%20Sergio.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>塞尔吉奥</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2020</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/圣·弗朗西斯%20Saint%20Frances.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>圣·弗朗西斯</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2019</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/汉密尔顿%20Hamilton.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>汉密尔顿</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2020</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/雪莉%20Shirley.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>雪莉</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2020</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a class="hvr-shutter-out-horizontal"><img src="images/K/翻译疑云%20Les%20Traducteurs.webp" title="album-name" class="img-responsive" alt=" " />

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a>翻译疑云</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>2019</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>

<!-- 分标签热门 -->
	<div class="general">
		<h4 class="latest-text w3_latest_text">分类热门推荐</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">恐怖</a></li>
					<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">爱情</a></li>
					<li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">喜剧</a></li>
					<li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">动作</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							<div class="col-md-2 w3l-movie-gride-agile"  v-for="HorrorMovie in HorrorMovies">
								<a :href="'/movie.html?movieId='+HorrorMovie.movieid" class="hvr-shutter-out-horizontal">
									<img :src="'/images/M/'+HorrorMovie.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="single.html">{{HorrorMovie.title}}</a></h6>
									</div>

										<div class="clearfix"></div>

								</div>
								<div class="ribben">
									<p>恐怖</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
						<div class="col-md-2 w3l-movie-gride-agile" v-for="LoveMovie in LoveMovies">
							<a :href="'/movie.html?movieId='+LoveMovie.movieid" class="hvr-shutter-out-horizontal">
								<img :src="'/images/M/'+LoveMovie.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
								<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a href="single.html">{{LoveMovie.title}}</a></h6>
								</div>

									<div class="clearfix"></div>

							</div>
							<div class="ribben">
								<p>爱情</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
						<div class="col-md-2 w3l-movie-gride-agile" v-for="ComedyMovie in ComedyMovies">
							<a :href="'/movie.html?movieId='+ComedyMovie.movieid" class="hvr-shutter-out-horizontal">
								<img :src="'/images/M/'+ComedyMovie.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
								<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a href="single.html">{{ComedyMovie.title}}</a></h6>
								</div>

									<div class="clearfix"></div>

							</div>
							<div class="ribben">
								<p>喜剧</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
						<div class="col-md-2 w3l-movie-gride-agile" v-for="ActionMovie in ActionMovies">
							<a :href="'/movie.html?movieId='+ActionMovie.movieid" class="hvr-shutter-out-horizontal">
								<img :src="'/images/M/'+ActionMovie.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
								<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a href="single.html">{{ActionMovie.title}}</a></h6>
								</div>

									<div class="clearfix"></div>

							</div>
							<div class="ribben">
								<p>动作</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //general -->
	<!------------------------------------ 热门榜 -------------------------------------------------------------------------->
	<div class="Latest-tv-series">
		<h4 class="latest-text w3_latest_text w3_home_popular">热门推荐</h4>
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="agile_tv_series_grid">
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img :src="'/images/M/'+moviePopularShow.movieid+'.webp'" alt=" " id="topPic" class="img-responsive" />
										<a class="w3_play_icon2" :href="'/movie.html?movieId='+moviePopularShow.movieid">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">{{moviePopularShow.title}}</p>
									<p class="fexi_header_para">{{moviePopularShow.introduction}}</p><br/>
									<p class="fexi_header_para"><span>上映日期</span>{{moviePopularShow.relaseDate}}</p>
									<p class="fexi_header_para">
										<span>分类 </span>
										<a href="genres.html">{{moviePopularShow.type}}</a>
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>评分</span>{{movieRatingShow.rating}}</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									<div class="col-md-2 w3l-movie-gride-agile" v-for="moviesByPopular in moviesByPopulars">
										<a :href="'/movie.html?movieId='+moviesByPopular.movieid" @mouseover="changePopularShow(moviesByPopular)" class="hvr-shutter-out-horizontal">
											<img id="pic" :src="'/images/M/'+moviesByPopular.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
											<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
										</a>
										<div class="mid-1 agileits_w3layouts_mid_1_home title_height">
											<div class="w3l-movie-text">
												<h6><a :href="'/movie.html?movieId='+moviesByPopular.movieid">{{ moviesByPopular.title }}</a></h6>
											</div>

												<div class="clearfix"></div>

										</div>
										<div class="ribben">
											<p>热门</p>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
<!------------------------------------ 口碑榜 -------------------------------------------------------------------------->
	<div class="Latest-tv-series">
		<h4 class="latest-text w3_latest_text w3_home_popular">口碑推荐</h4>
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="agile_tv_series_grid">
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img :src="'/images/M/'+movieRatingShow.movieid+'.webp'" alt=" " id="topPic" class="img-responsive" />
										<a class="w3_play_icon2" :href="'/movie.html?movieId='+movieRatingShow.movieid">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">

									<p class="fexi_header">{{movieRatingShow.title}}</p>
									<p class="fexi_header_para">{{movieRatingShow.introduction}}</p><br/>
									<p class="fexi_header_para"><span>上映日期</span>{{movieRatingShow.relaseDate}}</p>
									<p class="fexi_header_para">
										<span>分类</span>
										<a href="genres.html">{{movieRatingShow.type}}</a>
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>评分</span>{{movieRatingShow.rating}}</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									<div class="col-md-2 w3l-movie-gride-agile" v-for="moviesByRating in moviesByRatings">
										<a :href="'/movie.html?movieId='+moviesByRating.movieid" @mouseover="changeRatingShow(moviesByRating)" class="hvr-shutter-out-horizontal">
											<img id="pic" :src="'/images/M/'+moviesByRating.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
											<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
										</a>
										<div class="mid-1 agileits_w3layouts_mid_1_home .title_height">
											<div class="w3l-movie-text">
												<h6><a :href="'/movie.html?movieId='+moviesByRating.movieid">{{ moviesByRating.title }}</a></h6>
											</div>

												<div class="clearfix"></div>

										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<!-- pop-up-box -->  
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--//pop-up-box -->
	<div id="small-dialog" class="mfp-hide">
		<!---<iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>--->
	</div>
	<div id="small-dialog1" class="mfp-hide">
		<!---<iframe src="https://player.vimeo.com/video/148284736"></iframe>--->
	</div>
	<div id="small-dialog2" class="mfp-hide">
		<!---<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>--->
	</div>
<!-- //Latest-tv-series -->
<!-- footer -->
	<div class="footer">
		<div class="container">

			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>由 &copy; 电影之友小组制作</p>
			</div>
			<div class="col-md-7 w3ls_footer_grid1_right">
				<ul>

					<li><a href="genres.html?genres=冒险&curPage=1">冒险</a></li>
					<li><a href="genres.html?genres=科幻&curPage=1">科幻</a></li>
					<li><a href="genres.html?genres=犯罪&curPage=1">犯罪</a></li>
					<li><a href="genres.html?genres=悬疑&curPage=1">悬疑</a></li>
					<li><a href="genres.html?genres=剧情&curPage=1">剧情</a></li>
					<li><a href="genres.html?genres=荒诞&curPage=1">荒诞</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>



</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
	var app = new Vue({
		el:"#wrap",
		data: {
			user: {},
			isLog:"false",
			moviesByRatings: [],
			movieRatingShow:{},
			moviesByPopulars:[],
			moviePopularShow:{},
			curPage:1,
			HorrorMovies:[],
			LoveMovies:[],
			ComedyMovies:[],
			ActionMovies:[],
			clasPage:1,
		},
		methods:{
			getPopular(){
				axios.get("http://127.0.0.1:8080/popularMovie?curPage="+this.curPage).then(res=>{
					console.log(res.data);
					if(res.data.state){
						this.moviesByPopulars = res.data.movies;
						this.moviePopularShow = this.moviesByPopulars[0];
						//处理字符串中的特殊字符
						var str = this.moviePopularShow.introduction;
						str = str.replace(/\\u3000/g, "");
						str = str.replace(/\\n/g, " ");
						this.moviePopularShow.introduction = str;
					}else{
						alert(res.data.msg);
					}
				});
			},
			changePopular(){
				if (this.curPage<10) {
					this.curPage++;
				} else {
					this.curPage = 1;
				}
				this.getPopular();
			},
			changePopularShow(moviesByPopular){
				var _this = this;
				//处理字符串中的特殊字符
				var str = moviesByPopular.introduction;
				str = str.replace(/\\u3000/g, "");
				str = str.replace(/\\n/g, " ");
				moviesByPopular.introduction = str;
				this.moviePopularShow = moviesByPopular;
			},
			changeRatingShow(moviesByRating){
				var _this = this;
				var str = moviesByRating.introduction;
				str = str.replace(/\\u3000/g, "");
				str = str.replace(/\\n/g, " ");
				moviesByRating.introduction = str;
				this.movieRatingShow = moviesByRating;
			},
			getHorrorMovies(){
				axios.get("http://127.0.0.1:8080/topMoviesByType?type=Horror&curPage="+this.clasPage).then(res=>{
					console.log(res.data);
					if(res.data.state){
						this.HorrorMovies = res.data.movies;
					}else{
						alert(res.data.msg);
					}
				});
			},
			getLoveMovies(){
				axios.get("http://127.0.0.1:8080/topMoviesByType?type=Love&curPage="+this.clasPage).then(res=>{
					console.log(res.data);
					if(res.data.state){
						this.LoveMovies = res.data.movies;
					}else{
						alert(res.data.msg);
					}
				});
			},
			getComedyMovies(){
				axios.get("http://127.0.0.1:8080/topMoviesByType?type=Comedy&curPage="+this.clasPage).then(res=>{
					console.log(res.data);
					if(res.data.state){
						this.ComedyMovies = res.data.movies;
					}else{
						alert(res.data.msg);
					}
				});
			},
			getActionMovies(){
				axios.get("http://127.0.0.1:8080/topMoviesByType?type=Action&curPage="+this.clasPage).then(res=>{
					console.log(res.data);
					if(res.data.state){
						this.ActionMovies = res.data.movies;
					}else{
						alert(res.data.msg);
					}
				});
			},
			login(){
				axios.post("http://127.0.0.1:8080/login",this.user).then(res=>{
					console.log(res.data);
					if(res.data.state){
						//alert(res.data.msg);
						localStorage.setItem("user",JSON.stringify(res.data.user));
						location.href = "/index.html";
					}else{
						alert(res.data.msg);
					}
				});
			},
			logout(){
				var _this = this.user;
				if(_this!=null) {
					localStorage.removeItem("user");
					location.reload(true);
				}
			},
			register(){
				console.log(this.user);
				axios.post("http://127.0.0.1:8080/register",this.user).then(res=>{
					console.log(res.data);
					if(res.data.state){
						alert(res.data.msg+"，点击回到首页");
						location.href="/index.html";
					}else{
						alert(res.data.msg);
					}
				});
			},
		},
		created(){
			var userString = localStorage.getItem("user");
			if(userString!=null){
				this.user = JSON.parse(userString);
				this.isLog = true;
			}else{
				this.isLog = false;
			}
			//获取口碑榜
			axios.get("http://127.0.0.1:8080/reputation").then(res=>{
				console.log(res.data);
				if(res.data.state){
					this.moviesByRatings = res.data.movies;
					this.movieRatingShow = this.moviesByRatings[0];
					var str = this.movieRatingShow.introduction;
					str = str.replace(/\\u3000/g, "");
					str = str.replace(/\\n/g, " ");
					this.movieRatingShow.introduction = str;
				}else{
					alert(res.data.msg);
				}
			});
			//获取最受欢迎
			this.getPopular();
			//获取恐怖电影
			this.getHorrorMovies();
			//获取爱情电影
			this.getLoveMovies();
			//获取喜剧电影
			this.getComedyMovies();
			//获取动作电影
			this.getActionMovies();
		},
		mounted(){
			$('.toggle').click(function(){
				// Switches the Icon
				$(this).children('i').toggleClass('fa-pencil');
				// Switches the forms
				$('.form').animate({
					height: "toggle",
					'padding-top': 'toggle',
					'padding-bottom': 'toggle',
					opacity: "toggle"
				}, "slow");
			});
			$("#slidey").slidey({
				interval: 8000,
				listCount: 5,
				autoplay: false,
				showList: true
			});
			$(".slidey-list-description").dotdotdot();

			$(document).ready(function() {
				$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});

			});
		}
	})
</script>