<!DOCTYPE html>
<html lang="en">
<head>
<title>单部详情页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/medile.css" rel='stylesheet' type='text/css' />
<link href="css/single.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
<!-- news-css -->
<link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
<!-- //news-css -->
<!-- list-css -->
<link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
<!-- //list-css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- 评分css -->
<link rel="stylesheet" href="css/rating.css" />
	<!-- 点赞css -->
	<link rel="stylesheet" href="css/like.css" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
	 
		  autoPlay: 3000, //Set AutoPlay to 3 seconds
	 
		  items : 5,
		  itemsDesktop : [640,5],
		  itemsDesktopSmall : [414,4]
	 
		});
	 
	}); 
</script> 
<script src="js/simplePlayer.js"></script>
<script>
	$("document").ready(function() {
		$("#video").simplePlayer();
	});
</script>

</head>

<body>
<div id="wrap">
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="index.html"><h1>Movies</h1></a>
			</div>
			<div class="w3_search">
				<form action="/search.html" method="get">
					<input type="text" name="movieName" placeholder="Search" required="">
					<input type="text" name="curPage" placeholder="Search" required="" value="1" v-show="false">
					<input type="submit"  value="Go">
				</form>
			</div>
			<div class="w3l_sign_in_register">
				<ul>
					<li><a href="#" data-toggle="modal" data-target="#myModal" v-if="!isLog">登录</a></li>
					<li><a href="javascript:;" @click="logout" v-if="isLog">注销</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->
	<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					登录 & 注销
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
								<div class="toggle"><i class="fa fa-times fa-pencil"></i>
									<div class="tooltip">注册</div>
								</div>
								<div class="form">
									<h3>请登录您的账户</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="用户名" required="" v-model="user.username">
										<input type="password" name="Password" placeholder="密码" required="" v-model="user.password">
										<input type="submit" class="ok" onclick="this.disabled=true" @click="login" value="登录">
									</form>
								</div>
								<div class="form">
									<h3>创建新账户</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="用户名" required="" v-model="user.username">
										<input type="password" name="Password" placeholder="密码" required="" v-model="user.password">
										<input class="occupation" type="text" list="listItem3" placeholder="职业" v-model="user.occupation"><br>
										<datalist id="listItem3">
											<option value="0">其它</option>
											<option value="1">学术/教育工作者</option>
											<option value="2">艺术家</option>
										</datalist>
										<input class="gender" type="text" list="listItem4" placeholder="性别" v-model="user.gender"><br>
										<datalist id="listItem4">
											<option value="M">男</option>
											<option value="F">女</option>
										</datalist>
										<input type="text" name="age" placeholder="年龄" required="" v-model="user.age">
										<input type="text" name="zipcode" placeholder="邮编" required="" v-model="user.zipcode">
										<input type="submit" class="ok" onclick="this.disabled=true" @click="register" value="注册">
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->
	<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="w3_home_act"><a href="index.html">主页</a></li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<li>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genres.html?genres=爱情&curPage=1">爱情</a></li>
												<li><a href="genres.html?genres=奇幻&curPage=1">奇幻</a></li>
												<li><a href="genres.html?genres=科幻&curPage=1">科幻</a></li>
												<li><a href="genres.html?genres=儿童&curPage=1">儿童</a></li>
												<li><a href="genres.html?genres=家庭&curPage=1">家庭</a></li>
												<li><a href="genres.html?genres=音乐&curPage=1">音乐</a></li>
												<li><a href="genres.html?genres=冒险&curPage=1">冒险</a></li>
												<li><a href="genres.html?genres=动画&curPage=1">动画</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genres.html?genres=惊悚&curPage=1">惊悚</a></li>
												<li><a href="genres.html?genres=悬念&curPage=1">悬念</a></li>
												<li><a href="genres.html?genres=动作&curPage=1">动作</a></li>
												<li><a href="genres.html?genres=灾难&curPage=1">灾难</a></li>
												<li><a href="genres.html?genres=短片&curPage=1">短片</a></li>
												<li><a href="genres.html?genres=西部&curPage=1">西部</a></li>
												<li><a href="genres.html?genres=恐怖&curPage=1">恐怖</a></li>
												<li><a href="genres.html?genres=历史&curPage=1">历史</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genres.html?genres=犯罪&curPage=1">犯罪</a></li>
												<li><a href="genres.html?genres=悬疑&curPage=1">悬疑</a></li>
												<li><a href="genres.html?genres=剧情&curPage=1">剧情</a></li>
												<li><a href="genres.html?genres=荒诞&curPage=1">荒诞</a></li>
												<li><a href="genres.html?genres=运动&curPage=1">运动</a></li>
												<li><a href="genres.html?genres=传记&curPage=1">传记</a></li>
												<li><a href="genres.html?genres=喜剧&curPage=1">喜剧</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</li>
								</ul>
							</li>
							<li><a href="series.html">推荐</a></li>
							<li><a href="news.html">我的电影</a></li>

						</ul>
						</li>

						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	<!-- //nav -->


	<div class="general_social_icons">
		<nav class="social">
			<ul>
				<li class="w3_twitter"><a href="index.html">主页 <i class="fa fa-asterisk"></i></a></li>
				<li class="w3_facebook"><a href="series.html">推荐 <i class="fa fa-book"></i></a></li>
				<li class="w3_dribbble"><a href="news.html">个人 <i class="fa fa-user"></i></a></li>
				<li class="w3_g_plus"><a href="faq.html">问答 <i class="fa fa-thumbs-up"></i></a></li>
			</ul>
		</nav>
	</div>
	<!-- /w3l-medile-movies-grids -->
<!-- single -->
<div class="single-page-agile-main">
<div class="container">

		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="index.html">主页</a></li>
				  <li class="active">单部信息</li>
				</ol>
			</div>
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
<!-------------------------------------------------海报及简介-------------------------------------------->

							   <div class="col-sm-7 single-left">

					<div class="song">
						<div class="song-info">
							<h3>{{movie.title}}</h3>
					</div>
						<div class="video-grid-single-page-agileits">
							<div data-video="dLmKio67pVQ" id="video"> <img :src="'/images/M/'+movie.movieid+'.webp'" alt="" class="img-responsive" /> </div>
						</div>
					</div>
					<div class="intro">
						<li class="director">导演：{{movie.director}}<li/>
						<li class="writer">编剧：{{movie.scriptwriter}}</li>
						<li class="starring">主演：{{movie.starring}}</li>
						<li class="type">类型：{{movie.type}}</li>
						<li class="date">上映日期：{{movie.relaseDate}}</li>
						<li class="length">片长：{{movie.runningTime}}分钟</li>
					    <li class="num">评分：{{movie.rating}}</li>
						<li class="num">评分人数：{{movie.ratingPeople}}</li>
						<li v-if="isLog"><b>您的评分：</b></li>


									   <div class="reviews" v-if="isLog">
										   <div>
											   <fieldset class="rating">
											   <input type="radio" name="rating" value="5" v-model="Rating.rating" /><label class = "full" @click="rating(5)" for="star5" title="Awesome - 5 stars"></label>
											   <input type="radio" name="rating" value="4" v-model="Rating.rating" /><label class = "full" @click="rating(4)" for="star4" title="Pretty good - 4 stars"></label>
											   <input type="radio" name="rating" value="3" v-model="Rating.rating" /><label class = "full" @click="rating(3)" for="star3" title="Meh - 3 stars"></label>
											   <input type="radio" name="rating" value="2" v-model="Rating.rating" /><label class = "full" @click="rating(2)" for="star2" title="Kinda bad - 2 stars"></label>
											   <input type="radio" name="rating" value="1" v-model="Rating.rating" /><label class = "full" @click="rating(1)" for="star1" title="Sucks big time - 1 star"></label>
											   </fieldset>
										   </div>

								   <div class="clearfix"> </div>
								   <div class="like" v-if="isLog">
									   <b>喜欢</b>
									   <i class="like-item" @click="likeAndUnlike" :class="isLike?'press':''"></i>
									   <span class="like-text">liked!</span>
								   <div class="clearfix"> </div>
								   </div>

						</div>

						</div>
								   <div class="article">
									   <p class="synopsis"><b>剧情简介</b></p>
									   <p style="white-space: pre-line;" v-html="movie.introduction"></p>
					<!--第三部分用户点评-->



					<div class="clearfix"> </div>
</div>

				</div>
<!-----------------------------------右侧热门----------------------------------------->
				<div class="col-md-4 single-right">
					<h3>你可能喜欢</h3>
					<div class="single-grid-right" v-for="moviesByPopular in moviesByPopulars">
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a :href="'/movie.html?movieId='+moviesByPopular.movieid">
									<img :src="'/images/M/'+moviesByPopular.movieid+'.webp'" alt="" />
								</a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="single.html" class="title">{{moviesByPopular.title}}</a>
								<p class="author"><a href="#" class="author">{{moviesByPopular.director}}</a></p>
								<p class="views">{{moviesByPopular.ratingPeople}} views</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>

<!-----------------------------------相似电影----------------------------------------->
				<div class="clearfix"> </div>

							   <h1>相似电影</h1>

							   <div class="container">
								   <section class="slider">
									   <div class="flexslider">
										   <ul class="slides">
											   <li>
												   <div class="agile_tv_series_grid">


													   <div class="clearfix"> </div>
													   <div class="agileinfo_flexislider_grids">
														   <div class="col-md-2 w3l-movie-gride-agile" v-for="moviesByMovie in moviesByMovies">
															   <a :href="'/movie.html?movieId='+moviesByMovie.movieid" class="hvr-shutter-out-horizontal">
																   <img :src="'/images/M/'+moviesByMovie.movieid+'.webp'" title="album-name" class="img-responsive" alt=" " />
																   <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
															   </a>
															   <div class="mid-1 agileits_w3layouts_mid_1_home title_height">
																   <div class="w3l-movie-text">
																	   <h6><a :href="'/movie.html?movieId='+moviesByMovie.movieid">{{moviesByMovie.title}}</a></h6>
																   </div>
																   <div class="mid-2 agile_mid_2_home">
																	   <div class="clearfix"></div>

																   </div>
																   <div class="ribben">
																	   <p>推荐</p>
																   </div>
															   </div>
															   <div class="clearfix"> </div>
														   </div>
													   </div>
												   </div>
											   </li>
										   </ul>
									   </div>
								   </section>
							   </div>
			</div>


<!-- footer -->
				<div class="footer">
					<div class="container">

						<div class="col-md-5 w3ls_footer_grid1_left">
							<p>由 &copy; 电影之友小组制作</p>
						</div>
						<div class="col-md-7 w3ls_footer_grid1_right">
							<ul>

								<li><a href="genres.html?genres=冒险&curPage=1">冒险</a></li>
								<li><a href="genres.html?genres=科幻&curPage=1">科幻</a></li>
								<li><a href="genres.html?genres=犯罪&curPage=1">犯罪</a></li>
								<li><a href="genres.html?genres=悬疑&curPage=1">悬疑</a></li>
								<li><a href="genres.html?genres=剧情&curPage=1">剧情</a></li>
								<li><a href="genres.html?genres=荒诞&curPage=1">荒诞</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>



				<!-- //footer -->
</div>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<!-- //here ends scrolling icon -->
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script>
	var app = new Vue({
		el: "#wrap",
		data: {
			user: {
				username: "",
			},
			isLog: "false",
			movie: {},
			date: new Date(),
			isLike: "false",
			Rating: {
				userId: 1,
				movieId: 1,
				rating: 0,
				timestamp: parseInt(+new Date() / 1000),
			},
			moviesByPopulars: [],
			curPage: 1,
			moviesByMovies: [],
			moviePage: 1,
			localRating:1,
		},
		methods: {
			logout() {//注销
				var _this = this.user;
				if (_this != null) {
					localStorage.removeItem("user");
					location.reload(true);
				}
			},
			like() {
				axios.get("http://127.0.0.1:8080/addUserLike?movieId=" + this.movie.movieid +
						"&userId=" + this.user.id).then(res => {
					console.log(res.data);
					if (res.data.state) {
						this.isLike = true;
					} else {
						alert(res.data.msg);
					}
				});
			},
			unlike() {
				axios.get("http://127.0.0.1:8080/deleteUserLike?movieId=" + this.movie.movieid +
						"&userId=" + this.user.id).then(res => {
					console.log(res.data);
					if (res.data.state) {
						this.isLike = false;
					} else {
						alert(res.data.msg);
					}
				});
			},
			likeAndUnlike(){
				if(this.isLike){
					this.unlike();
				}else{
					this.like();
				}
			},
			isUserLike(mid){
				axios.get("http://127.0.0.1:8080/isUserLike?movieId="+mid+
						"&userId="+this.user.id).then(res=>{
					console.log(res.data);
					if(res.data.state){
						this.isLike = true;
					}else{
						this.isLike = false;
					}
				});
			},
			rating(score) {
				this.Rating.rating = score;
				axios.post("http://127.0.0.1:8080/AddUserRating", this.Rating).then(res => {
					console.log(res.data);
					if (res.data.state) {
						alert(res.data.msg);
						console.log(this.Rating);
					} else {
						alert(res.data.msg);
					}
				});
				this.isRating();
			},
			getPopular() {
				axios.get("http://127.0.0.1:8080/popularMovie?curPage=" + this.curPage).then(res => {
					console.log(res.data);
					if (res.data.state) {
						this.moviesByPopulars = res.data.movies;
						this.moviePopularShow = this.moviesByPopulars[0];
					} else {
						alert(res.data.msg);
					}
				});
			},
			getMoviesByMovie(id) {
				axios.get("http://127.0.0.1:8080/moviesByMovie?movieid=" + id + "&curPage=" + this.moviePage).then(res => {
					console.log(res.data);
					if (res.data.state) {
						this.moviesByMovies = res.data.movies;
					} else {
						alert(res.data.msg);
					}
				});
			},
			isRating(){
				axios.post("http://127.0.0.1:8080/isUserRating", this.Rating).then(res => {
					console.log(res.data);
					if (res.data.state) {
						this.Rating = res.data.rating;
					} else {
						//alert(res.data.msg);
					}
				});
			},login(){
				axios.post("http://127.0.0.1:8080/login",this.user).then(res=>{
					console.log(res.data);
					if(res.data.state){
						alert(res.data.msg);
						localStorage.setItem("user",JSON.stringify(res.data.user));
						location.href = "/index.html";
					}else{
						alert(res.data.msg);
					}
				});
			},
			logout(){
				var _this = this.user;
				if(_this!=null) {
					localStorage.removeItem("user");
					location.reload(true);
				}
			},
			register(){
				axios.post("http://127.0.0.1:8080/register",this.user).then(res=>{
					console.log(res.data);
					if(res.data.state){
						alert(res.data.msg+"，点击回到首页");
						location.href="/index.html";
					}else{
						alert(res.data.msg);
					}
				});
			},
		},
		created() {
			//判断用户是否登录并获得用户信息
			var userString = localStorage.getItem("user");
			if (userString != null) {
				this.user = JSON.parse(userString);
				this.Rating.userId = this.user.id;
				this.isLog = true;
			} else {
				this.isLog = false;
			}
			//获取当前电影信息
			let id = location.href.substring(location.href.indexOf("=") + 1);
			axios.get("http://127.0.0.1:8080/movieDetails?movieId=" + id).then(res => {
				console.log(res.data);
				if (res.data.state) {
					this.movie = res.data.movies;
					this.movie.rating = parseInt(this.movie.rating / 2);
					//处理字符串中的特殊字符
					var str = this.movie.introduction;
					str = str.replace(/\\u3000/g, "");
					str = str.replace(/\\n/g, "<br/>");
					this.movie.introduction = str;
				} else {
					alert(res.data.msg);
				}
			});
			this.Rating.movieId = id;
			this.isRating();
			this.getPopular();
			this.getMoviesByMovie(id);
			this.isUserLike(id);
		},
		mounted() {
			//实时显示时间
			var _this = this;
			this.timer = setInterval(function () {
				_this.date = new Date().toLocaleString();
			}, 1000);
			$('.toggle').click(function(){
				// Switches the Icon
				$(this).children('i').toggleClass('fa-pencil');
				// Switches the forms
				$('.form').animate({
					height: "toggle",
					'padding-top': 'toggle',
					'padding-bottom': 'toggle',
					opacity: "toggle"
				}, "slow");
			});
			$(document).ready(function(){
				$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
				);
			});
			$(document).ready(function() {
				/*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		},
		beforeDestroy: function () {//清除定时器
			if (this.timer) {
				clearInterval(this.timer);
			}
		}

	})
</script>
</html>