<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
    <link rel="stylesheet" href="indexui.css">
</head>
<body>
<div id="wrap">
    <!--顶部导航栏-->
    <header>
        <!--顶部左侧导航-->
        <ul class="left-ul">
            <li>{{date}}</li>
            <li>欢迎来到电影之友</li>
        </ul>
        <!--右侧导航-->
        <ul class="right-ul">
            <div>
                <button class="user" type="button">{{ user.username }}</button>
            </div>
            <div class="cssmenu" v-if="isLog">
                <ul>
                    <li>
                        <button class="bt" type="button" onclick="window.location.href='/Profile.html'">个人资料</button>
                    </li>
                    <li>
                        <button class="bt" type="button">个人空间</button>
                    </li>
                    <li>
                        <button class="bt" type="button" @onclick="logout">注销</button>
                    </li>
                    <li>
                        <button class="bt" type="button">退出登录</button>
                    </li>
                </ul>
            </div>
        </ul>
    </header>
    <!--第一部分-->
    <div class="banner">
        <div class="huamg">
            <img src="../img/banner.png" alt="豆瓣网"/>
            <form action="">
                <input type="text" placeholder="搜索电视剧"/>
                <button>
                    <img src="../img/mirror.png" alt=""/>
                </button>
            </form>
        </div>
    </div>

    <!--第二部分电影评价-->

    <div class="introduct">
        <div class="moviename">
            <p>{{movie.title}}</p>
        </div>
        <div class="introdu">
            <div class="post">
                <img :src="'/images/M/'+movie.movieid+'.webp'" alt=""/>
            </div>
            <div class="intro">
                <li class="director">导演:{{movie.director}}</li>
                <li class="writer">编剧:{{movie.scriptwriter}}</li>
                <li class="starring">主演:{{movie.starring}}</li>
                <li class="type">类型:{{movie.type}}</li>
                <li class="date">上映日期:{{movie.relaseDate}}</li>
                <li class="length">片长:{{movie.runningTime}}分钟</li>
            </div>
            <div class="rating">
                <div>
                    <p class='starFive'><span class='org_star'>R</span><span class='org_star'>R</span><span
                            class='org_star'>R</span><span class='org_star'>R</span><span data-content='R'>R</span><b>{{movie.rating}}分</b>
                    </p>
                </div>
                <div>
                    <li class="num">5000人评分</li>
                </div>
            </div>
        </div>
    </div>

    <!--第三部分用户点评-->
    <div class="reviews">
        <div>
            <ul class="feel">
                <li>
                    <button class="want" type="button">想看</button>
                </li>
                <li>
                    <button class="like" type="button" v-if="isLog" @click="like">喜欢</button>
                </li>
            </ul>
            <p class='evaluation'><b>评分</b><span class='org_star'>R</span><span class='org_star'>R</span><span
                    class='org_star'>R</span><span class='org_star'>R</span><span data-content='R'>R</span></p>
        </div>
    </div>

    <div class="article">
        <p class="synopsis">{{movie.title}}剧情简介</p>
        <p style="white-space: pre-line;" v-html="movie.introduction"></p>
        <div class="like"><i></i>喜欢</div>
    </div>

    <!--第四部分相关推荐-->
    <div class="similar">
        <ul class="title">
            <b>喜欢这部电影的人也喜欢</b>
        </ul>
        <ul class="picture">
            <li><a href=""><img src="images/0031.jpg" alt="图片1"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片2"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片3"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片4"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片5"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片6"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片7"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片8"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片9"></a></li>
            <li><a href=""><img src="images/0031.jpg" alt="图片10"></a></li>
        </ul>
    </div>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    var app = new Vue({
        el:"#wrap",
        data:{
            user:{
                username:"",
            },
            isLog:"false",
            movie:{},
            date:new Date(),
            isLike:"false",
        },
        methods:{
            logout(){//注销
                var _this = this.user;
                if(_this!=null) {
                    localStorage.removeItem("user");
                    location.reload(true);
                }
            },
            like(){
                axios.get("http://127.0.0.1:8080/addUserLike?movieId="+this.movie.movieid+
                    "&userId="+this.user.id).then(res=>{
                    console.log(res.data);
                    if(res.data.state){
                        this.isLike = true;
                    }else{
                        alert(res.data.msg);
                    }
                });
            }
        },
        created(){
            //判断用户是否登录并获得用户信息
            var userString = localStorage.getItem("user");
            if(userString!=null){
                this.user = JSON.parse(userString);
                this.isLog = true;
            }else{
                this.isLog = false;
            }
            //获取当前电影信息
            let id = location.href.substring(location.href.indexOf("=")+1);
            axios.get("http://127.0.0.1:8080/movieDetails?movieId="+id).then(res=>{
                console.log(res.data);
                if(res.data.state){
                    this.movie = res.data.movies;
                }else{
                    alert(res.data.msg);
                }
            });
        },
        mounted(){//实时显示时间
            var _this = this;
            this.timer = setInterval(function(){
                _this.date = new Date().toLocaleString();
            },1000);
        },
        beforeDestroy:function() {//清除定时器
            if (this.timer) {
                clearInterval(this.timer);
            }
        }
    })
</script>
</html>