<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movierecommmendation.movie.dao.PosterMapper">
  <resultMap id="BaseResultMap" type="com.movierecommmendation.movie.entity.Poster">
    <id column="movieID" jdbcType="INTEGER" property="movieid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.movierecommmendation.movie.entity.Poster">
    <result column="poster" jdbcType="LONGVARBINARY" property="poster" />
  </resultMap>
  <parameterMap id="Post s5er" type="com.movierecommmendation.movie.entity.Poster"/>

  <sql id="Base_Column_List">
		movieID, poster
	</sql>

  <delete id="delete" parameterType="Poster">
		delete from  poster where MovieID=#{movieid}
	</delete>

  <select id="findAll" resultMap="BaseResultMap" >
		select
		*
		from poster
	</select>

  <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        *
        from poster
        where MovieID = #{movieid}
    </select>
</mapper>