<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movierecommmendation.movie.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.movierecommmendation.movie.entity.User">
        <result column="userid" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="gender" property="gender" />
        <result column="occupation" property="occupation" />
        <result column="age" property="age" />
        <result column="zipcode" property="zipcode" />
    </resultMap>

    <parameterMap id="User" type="com.movierecommmendation.movie.entity.User"/>

    <sql id="Base_Column_List">
		userid, username, password, gender, occupation, age, zipcode
	</sql>

    <insert id="insert" parameterMap="User">
		insert into m_user (username, password, gender, occupation, age, zipcode)
		values (#{username}, #{password}, #{gender}, #{occupation}, #{age}, #{zipcode})
	</insert>

    <update id="update" parameterMap="User">
        update
        m_user
        set
        <if test="username!=null and username!=''">
            username = #{username}
        </if>

        <if test="password!=null and password!=''">
            , password = #{password}
        </if>

        <if test="gender!=null and gender!=''">
            , gender = #{gender}
        </if>

        <if test="occupation!=null and occupation!=''">
            , occupation = #{occupation}
        </if>

        <if test="age!=null and age!=''">
            , age = #{age}
        </if>

        <if test="zipcode!=null and zipcode!=''">
            , zipcode = #{zipcode}
        </if>
        where userid= #{id}
    </update>

    <delete id="delete" parameterType="User">
		delete from  m_user where id=#{id}
	</delete>

    <select id="findAll" resultMap="BaseResultMap" >
		select
		*
		from m_user
	</select>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        *
        from m_user
        where userid = #{userid}
    </select>

    <select id="findByUsername" parameterType="String" resultType="User" resultMap="BaseResultMap">
        select * from m_user where username = #{username}
    </select>

</mapper>